services:
  db:
    image: postgres:16-alpine
    container_name: mail-db
    restart: always
    environment:
      POSTGRES_DB: maildb
      POSTGRES_USER: mailuser
      POSTGRES_PASSWORD: password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - mail-network
    ports:
      - "5432:5432"

volumes:
  postgres_data:

networks:
  mail-network:
    driver: bridge
